* {
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content min-content min-content auto min-content min-content;
    align-items: center;
    justify-items: center;
    text-align: center;
}

h1 {
    grid-row: 2/3;
    font-size: 3vh;
}

h2 {
    grid-row: 3/4;
    margin: 2vh;
    font-size: 2vh;
}

img {
    grid-row: 4/5;
    max-width: 100%;
}

#botao-sair {
    grid-row: 1/2;
    margin: 2vh;
    align-self: center;
    justify-self: flex-start;
    height: 3vh;
    width: 5vh;
    font-size: clamp(1vh, 1.5vh, 2vh);
}

#botao-avancar {
    grid-row: 5/6;
    margin: 3vh;
    height: 5vh;
    width: 15vh;
    font-size: clamp(1vh, 1.5vh, 2vh);
}