* {
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content min-content min-content auto min-content min-content;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("../img/background.png");
    background-position: center center;
    background-size: cover;
}

body > h1 {
    grid-row: 2/3;
    font-size: 3vh;
    background-color: white;
    width: 50vh;
    font-weight: 600;
    border-radius: 0.5rem;
}

h2 {
    grid-row: 3/4;
    margin: 2vh;
    font-size: 2vh;
    background-color: white;
    font-weight: 500;
    width: 50vh;
    border-radius: 0.5rem;
}

img {
    grid-row: 4/5;
    max-width: 100%;
}

#botao-sair {
    grid-row: 1/2;
    margin: 2vh;
    align-self: center;
    justify-self: flex-start;
    height: 3vh;
    width: 5vh;
    font-size: clamp(1vh, 1.5vh, 2vh);
}

#botao-virar {
    grid-row: 5/6;
    margin: 1vh;
    height: 5vh;
    width: 15vh;
    font-size: clamp(1vh, 1.5vh, 2vh);
}

#botao-avancar {
    grid-row: 6/7;
    margin: 3vh;
    height: 5vh;
    width: 15vh;
    font-size: clamp(1vh, 1.5vh, 2vh);
}

dialog> h1{ 
    color: white;
    font-size: 5vh;
 }

#alerta-acerto {
    background-color: #47CA6C;
    border: none;
    border-radius: 10%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#alerta-acerto::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#alerta-erro { 
    background-color: #CA4747;
    border: none;
    border-radius: 10%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#alerta-erro::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
