@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: "Comic Neue", cursive;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content min-content min-content auto min-content;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-image: url("../img/background.png");
    background-position: center center;
    background-size: cover;
}

div {
    grid-row: 2/4;
    background-color: white;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 10px;
    box-shadow: 0px 0px 10px black;
    max-width: 70vh;
    margin: 1rem;
}

h1 {
    grid-row: 1/2;
    margin: 1vh;
    font-weight: 600;
    font-size: 3vh;
    font-weight: 600;
    border-radius: 0.5rem;
}

h2 {
    grid-row: 2/3;
    font-weight: 500;
    font-size: 2vh;
    border-radius: 0.5rem;
}

p {
    grid-row: 3/4;
    margin: 2vh;
    font-weight: 400;
    font-size: 2vh;
    border-radius: 0.5rem;
}

img {
    grid-row: 4/5;
    max-width: 90%;
}

button {
    grid-row: 5/6;
    margin: 2vh;
    margin-bottom: 5vh;
    height: 2rem;
    width: 15rem;
    font-size: clamp(1vh, 1.5vh, 2vh);
    background-color: #E5FBFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #0c515a;
    color: white;
}
