<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/etapa-2.css">
    <title>Desengasgo - Salvando vidas</title>
</head>
<body>
    <button id="botao-sair" onclick="sair()">SAIR</button>
    <h1>Virar o bebê</h1>
    <h2>Clique no botão virar até apresentar a posição correta para realizar as tapotagens</h2>
    <img id="posicao-bebe" src="../img/posicao_bebe_1.png" alt="">
    <button id="botao-virar" onclick="mudarImagem()">VIRAR O BEBÊ</button>
    <button id="botao-avancar" onclick="verificarResposta()">AVANÇAR</button>
    <script src="../js/etapa-2.js"></script>
</body>
</html>