<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/etapa-1.css">
    <script src="../js/etapa-1.js"></script>
    <title>Desengasgo - Salvando vidas</title>
</head>
<body>
    <button id="botao-sair" onclick="sair()">SAIR</button>
    <div>
        <h1>Colocar máscara e luvas de procedimento</h1>
        <h2>Com os itens equipados, inicie o procedimento</h2>
    </div>
    <img src="../img/personagem_equipada.png" alt="">
    <button id="botao-avancar" onclick="avancar()">AVANÇAR</button>
</body>
</html>