<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/etapa-5.css">
    <title>Desengasgo - Salvando vidas</title>
</head>
<body>
    <button id="botao-sair" onclick="sair()">SAIR</button>
    <div>
        <h1>Realizar compressões no bebê</h1>
        <h2>Identifique o local e pressione a quantidade de vezes indicada nas orientações</h2>
    </div>
    <img id="posicao-bebe" src="../img/posicao_bebe_4.png" alt="" usemap="#area-compressao">
    <map name="area-compressao">
        <area shape="rect" coords="390,358,421,380" href="#" alt="" onclick="alternarImagens()">
    </map>
    <img id="compressao-movimento-1" src="../img/compressao_movimento_1.png" alt="">
    <img id="compressao-movimento-2" src="../img/compressao_movimento_2.png" alt="">
    <h3 id="compressoes-realizadas">0</h3>
    <button id="botao-avancar" onclick="verificarResposta()">AVANÇAR</button>
    <dialog id="alerta-acerto">
        <h1>✓</h1>
    </dialog>
    <dialog id="alerta-erro">
        <h1>✗</h1>
    </dialog>
    <script src="../js/etapa-5.js"></script>
    <script src="../js/imageMapResizer.js"></script>
    <script>imageMapResize()</script>
</body>
</html>