<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/etapa-2.css">
    <title>Desengasgo - Salvando vidas</title>
</head>
<body>
    <button id="botao-sair" onclick="sair()">SAIR</button>
    <div>
        <h1>Virar o bebê</h1>
        <h2>Clique no botão virar para colocar o bebê na posição certa para iniciar a tapotagem, quando achar a posição certa clique em avançar</h2>
    </div>
    <img id="posicao-bebe" src="../img/posicao_bebe_1.png" alt="">
    <button id="botao-virar" onclick="mudarImagem()">VIRAR O BEBÊ</button>
    <button id="botao-avancar" onclick="verificarResposta()">AVANÇAR</button>
    <dialog id="alerta-acerto">
        <h1>✓</h1>
    </dialog>
    <dialog id="alerta-erro">
        <h1>✗</h1>
    </dialog>
    <audio id="som_derrota" src="../audio/derrota.mp3" preload="auto"></audio>
    <script src="../js/etapa-2.js"></script>
</body>
</html>