<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/etapa-4.css">
    <title>Desengasgo - Salvando vidas</title>
</head>
<body>
    <button id="botao-sair" onclick="sair()">SAIR</button>
    <div>
        <h1>Virar o bebê</h1>
        <h2>Clique no botão virar até apresentar a posição correta para realizar as compressões, depois de colocar na posição correta clique em avancar</h2>
    </div>
    <img id="posicao-bebe" src="../img/tapotagem_movimento_2.png" alt="">
    <button id="botao-virar" onclick="mudarImagem()">VIRAR O BEBÊ</button>
    <button id="botao-avancar" onclick="verificarResposta()">AVANÇAR</button>
    <dialog id="alerta-acerto">
        <h1>✓</h1>
    </dialog>
    <dialog id="alerta-erro">
        <h1>✗</h1>
    </dialog>
    <script src="../js/etapa-4.js"></script>
</body>
</html>