<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/idealizadores.css">
  <script src="../js/idealizadores.js" defer></script>
  <title>Idealizadores</title>
</head>

<body>
  <div class="buttons">
    <button type="button">Voltar</button>
  </div>

  <div class="content">
    <div class="title">
      <h1>Idealizadores</h1>
    </div>

    <div class="card">
      <div class="legends">
        <h2>Nome</h2>
        <h2>Cargo</h2>
      </div>

      <div class="row_member">
        <img src="../img/member_photo_2.png" alt="foto do membro da equipe">
        <div class="details_member">
          <p>Lucas Ferro</p>
          <p>Scrum Master</p>
        </div>
      </div>

      <div class="row_member">
        <img src="../img/member_photo_2.png" alt="foto do membro da equipe">
        <div class="details_member">
          <p>Paulo Clebson</p>
          <p>Desenvolvedor Frontend</p>
        </div>
      </div>

      <div class="row_member">
        <img src="../img/member_photo_2.png" alt="foto do membro da equipe">
        <div class="details_member">
          <p>Claudson</p>
          <p>Desenvolvedor Frontend</p>
        </div>
      </div>

      <div class="row_member">
        <img src="../img/member_photo_2.png" alt="foto do membro da equipe">
        <div class="details_member">
          <p>Edison</p>
          <p>Professor do IFAL</p>
        </div>
      </div>

      <div class="row_member">
        <img src="../img/member_photo_2.png" alt="foto do membro da equipe">
        <div class="details_member">
          <p>Ana Freire</p>
          <p>Professora da UFPB</p>
        </div>
      </div>

      <div class="row_member">
        <img src="../img/member_photo_2.png" alt="foto do membro da equipe">
        <div class="details_member">
          <p>Leandro</p>
          <p>Aluno da UFPB</p>
        </div>
      </div>

    </div>

  </div>

</body>

</html>