<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="../js/login.js" defer></script>

  <title>Login</title>

</head>
<body>

  <div class="content fundo">
    <div class="buttons botaoVoltar">
      <button>Voltar</button>
  </div>
    <h1>Login</h1>
    <form class="login-form">
      <label class="username" for="username">Nome:</label>
      <input type="text"  id="username" class="username" name="username" required>
      <div class="buttons">
        <button type="submit">Entrar</button>
      </div>
    </form>
  </div>


</body>
</html>
