<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tela_vitoria.css">
    <script src="../js/resultado-vitoria.js" defer></script>
    <title>Vitoria</title>
</head>

<body>
    <h1>
        Parabéns, <strong><span id="nomeUsuario"></span></strong>!
    </h1>
    <h2>Você salvou uma vida.</h2>
    <p>
        Agradecemos a sua participação. Projeto primeiros socorros nas escolas:  capacitando, detectando, agindo e prevenindo. Uma parceiria CPT-ETS-UFPB e IFAL.
    </p>
    <img src="../img/resultado_vitoria.png" alt="Vitória">
    <button onclick="redirecionarTelaInicial()">JOGAR NOVAMENTE</button>
    <audio autoplay>
        <source src="../audio/champion-short-version-162086.mp3" type="audio/mp3">
        Seu navegador não suporta a tag de áudio.
    </audio>
</body>
</html>
