<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tela_escolha_equipamentos.css">
    <script src="../js/tela_escolha_equipamentos.js" defer></script>
    <title>Desengasgo Bebê</title>
</head>

<body>
    <div class="header">
        <button type="button">Voltar</button>
    </div>

    <div class="caixa_balao">
        <div class="balao">
            <p>
                Para me ajudar a atender esse bebê, escolha os equipamentos necessários
            </p>
        </div>
    </div>

    <div class="content">
        <div class="personagem">
            <img src="../img/enfermeira.png" alt="imagem de enfermeira">
        </div>

        <div class="equipamentos">
            <div class="imagem_equipamento" id="maca_img">
                <img src="../img/maca.png" alt="Maçã">
            </div>
            <div class="imagem_equipamento" id="mascara_medica_img">
                <img src="../img/mascara_medica.png" alt="Máscara médica">
            </div>
            <div class="imagem_equipamento" id="book_img">
                <img src="../img/book.png" alt="Livro">
            </div>
            <div class="imagem_equipamento" id="mascara_oxigenio_img">
                <img src="../img/mascara_oxigenio.png" alt="Máscara de oxigênio">
            </div>
            <div class="imagem_equipamento" id="luva_medica_img">
                <img src="../img/luva_medica.png" alt="Luva médica">
            </div>
            <div class="imagem_equipamento" id="casaco_img">
                <img src="../img/casaco.png" alt="Casaco">
            </div>
            <div class="imagem_equipamento" id="soro_mao_img">
                <img src="../img/soro_mao.png" alt="Soro na mão">
            </div>
            <div class="imagem_equipamento" id="escova_dente_img">
                <img src="../img/escova_dente.png" alt="Escova de dente">
            </div>
            <div class="imagem_equipamento" id="reanimador_manual_img">
                <img src="../img/reanimador_manual.png" alt="Reanimador manual">
            </div>
            <div class="imagem_equipamento" id="lapis_desenho_img">
                <img src="../img/lapis_desenho.png" alt="Lápis">
            </div>
            <div class="imagem_equipamento" id="desfibrilador_img">
                <img src="../img/desfibrilador.png" alt="Desfibrilador">
            </div>
            <div class="imagem_equipamento" id="carteira_com_dinheiro_img">
                <img src="../img/carteira_com_dinheiro.png" alt="Carteira com dinheiro">
            </div>
        </div>
    </div>

    <div class="footer">
        <button>Salvar bebê</button>
    </div>
</body>

</html>