<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/tela1.css">
  <script src="../js/tela1.js" defer></script>
  <title>Desengasgo Bebê</title>
</head>
<body>
  <div class="buttons">
    <button class="button-voltar" type="button">Voltar</button>
  </div>
  <div class="content">
      <div class="content-msg">
        <p>Olá, <strong><span id="nomeUsuario"></span></strong>, meu nome é <strong>Vitória!</strong><br><br>
          Estou com uma situação de atendimento de primeiros socorros que só você poderá me ajudar!<br><br>
          Vamos me auxiliar a atender uma vítima de desengasgo?</p>
      </div>
      <div class="content-img">
        <img src="/img/enfermeira-removebg-preview 1.png" id="personagem1" alt="Personagem 1">
      </div>
      <div class="buttons">
        <button class="button-vamos" type="button">Vamos!</button>
        <button class="button-nao-sei" type="button">Não sei o que fazer!</button>
      </div>
  </div>
</body>
</html>
