<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tela_derrota.css">
    <script src="../js/tela-derrota.js" defer></script>
    <title>Derrota</title>
</head>

<body>
    <div>
        <h1>
            Que pena, <strong><span id="nomeUsuario"></span></strong>!
        </h1>
        <h2>
            Você errou em alguma etapa! Retorne e refaça o atendimento!
        </h2>
    </div>
    <img src="../img/resultado_derrota.png" alt="">
    <button onclick="redirecionarTelaInicial()">JOGAR NOVAMENTE</button>
</body>
</html>